<%= simple_form_for @calculator, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :name %>
    <%= f.input :gender, :collection => [:male, :female] %>
    <%= f.input :age,  :collection => 18..88 %>
    <%= f.input :weight,  :collection => 50..150 %>
    <%= f.input :height ,  :collection => 120..220 %>

  <div class="form-actions">
    <%= f.submit "Calculate", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                calculators_path, :class => 'btn' %>
  </div>
<% end %>
