<div class="hero-unit">
  <div class="pull-right">
    <%= image_tag "loseweight_500.jpg", width: "300"%>
  </div>
  <h2>Welcome to BMI</h2>
  <table class="table table-striped">
    <tr>
      <td>
        You:
      </td>
      <td>
        <%= @calculator.name %>
      </td>
    </tr>
    <tr>
      <td>
        Your BMI:
      </td>
      <td>
        <%= @calculator.bmi %>
      </td>
    </tr>
    <tr>
      <td>
        Your rating:
      </td>
      <td>
        <%= @calculator.rating %>
      </td>
    </tr>
    <tr>
      <td>
        Average bmi over all users:
      </td>
      <td>
        <%= @stats[:average] %>
      </td>
    </tr>    <tr>
    <td>
      Percentage of user that are lighter than you:
    </td>
    <td>
      <%= @stats[:percent_are_lighter] %>
    </td>
  </tr>    <tr>
    <td>
      Percentage of user that are heavier than you:
    </td>
    <td>
      <%= @stats[:percent_are_heavier] %>
    </td>
  </tr>



    </tr>
  </table>
</div>